body{
    height: 100%;
    display: block;
    overflow: hidden;
    background-image: linear-gradient(330deg,#1b2735,#090a0f);
}
*{
    color: white;

}
#centa{
    position: absolute;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    background-image: linear-gradient(330deg,#1b27352e,#090a0f2f),url(images/skyrise.jpg);
    height: 450px;
    width: 850px;

   margin: 100 auto;
   justify-content: space-between;
   justify-items: center;
   align-self: start;
   top: 185px;
   left: 25%;


}    
img{
    width: 300px;

    height: 450px;
    background position: center;
    background-size: cover;
    position: relative;
    align-self: baseline;


    
}
#centa h1{
    position: absolute;
    top:25px;
    font-size: 2em;
    left:320px;
    font-family: 'Silkscreen', cursive;
}    
#centa p{
    position: absolute;
    top:110px;
    left:320px;
    width:57.5%;
    height:80%;
    font-family: 'Noto Sans Lao Looped', sans-serif;}

    nav{
        display: flex;
        padding: 2% 6%;
        position: fixed;
        justify-content: space-between;
        align-items: centre;
      
      }
      nav a span{        
        position: absolute;
        font-size: 5em;
      
      }
      .N-links{
        flex: 1;
        
        text-align: right;
      
      }
      .N-links ul li{
        list-style: none;
        display: inline-block;
        padding: 17px 12px;
        left: 980px;

        position: relative;
      }
      .N-links ul li a{
        color: #fff;
        font-family: 'Raleway', sans-serif;

        text-decoration: none;
        font-size: 13px;    
            font-size: 1em;

      }
      .N-links ul li::after{
        content: ' ';
        width: 0%;
        height: 3px;
        background: #2b6478b2;
        display: block;
        margin: auto 0;
        transition: 1.5s;
      }
      .N-links ul li:hover::after{
        width: 100%;
      }
      

 
    h4{
        position: absolute;
        bottom:-10px;
        color: #fff;
        font-family: 'Handlee', cursive;
        font-size: 0.8em;
        left:20px;
    }
 
      h5{
        position: absolute;
        bottom:-19px;
        color: #fff;
        font-family: 'Handlee', cursive;   
        font-size: 0.8em;
        right:10px;
        text-align: right;
    }